.button:active {
   transform: translateY(4px);
   color: transparent;
   background-color: maroon;
   background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.solidbackgrounds.com%2F1920x1080-up-maroon-solid-color-background.html&psig=AOvVaw3JTyS5m19Uqn7I2L1KLFqw&ust=1669905461954000&source=images&cd=vfe&ved=0CA8QjRxqFwoTCNC_meKQ1vsCFQAAAAAdAAAAABAD");
}

.menubutton{
    width: 300px;
    height: 200px;
    margin: 10px 10px;
    left: 250px;
    top: 80px;
    border-color:maroon ;
    outline-color: maroon;
    background-color: white;
    color: transparent;
    position: relative; 
    background-size: 170px;
    background-repeat: no-repeat;
    background-position: center top;
    
 }
 .categorybutton{
    width: 200px;
    height: 100px;
    border-color:maroon ;
    outline-color: maroon;
    background-color: white;
    color: maroon;
    
    position: absolute;  
 }
 .gotocart{
    width: 150px;
    height: 50px;
    border-color: maroon ;
    outline-color: maroon;
    background-color: white;
    color: maroon;
 }
 .gotomenu{
   width: 150px;
   height: 50px;
   border-color: maroon ;
   outline-color: maroon;
   background-color: white;
   color: maroon;
}
.tender {
   width: 120px;
   height: 50px;
   border-color:maroon ;
   outline-color: maroon;
   background-color: white;
   color: maroon;
   font-size: 13px;
 }
 .accessibility{
   width: 150px;
   height: 50px;
   border-color: maroon ;
   outline-color: maroon;
   background-color: white;
   color: maroon;
}
.cancel{
   width: 150px;
   height: 50px;
   border-color: maroon ;
   outline-color: maroon;
   background-color: white;
   color: maroon;
}
.undo{
   width: 150px;
   height: 50px;
   border-color: maroon ;
   outline-color: maroon;
   background-color: white;
   color: maroon;
}
.textbox{
   text-align: center;
   width: 145px;
   height: 45px;
   border-color: maroon ;
   outline-color: maroon;
   color: maroon;
   border-style: solid;
   border-width: 2px;
   background-color: white;
   font-family: Arial, Helvetica, sans-serif;
}
.flex-container1{
   display:flex;
   flex-wrap: wrap;
   width: 1300px;
 }
 body {
   background-color: lightgray;
 } 
 .remove{
   height: 15px;
   position: absolute;
   right: 20px;
   font-size: 10px;
 }


.scrollarea {
  
   position: absolute;
   overflow: scroll;
 }
 .translate{
   position: relative;
   top: 100px;
   height: 200px;
 }

 .magnify{
   position: relative;
   width: 150px;
   height: 50px;
   border-color: maroon ;
    outline-color: maroon;
    background-color: white;
    color: maroon;
 }