<!DOCTYPE html>
<html lang="en-US">
<head>
   <!-- <link rel="stylesheet" type="text/css" href="/views/manager.css" id="manager_style"></link> -->
   <title>Login</title>
</head>
<body>
   <nav>
      <ul>
         <% if(isAuthenticated) { %>
            <li><a href="/login/">Login</a></li>
         <% } else { %>
         <li><a href="/logout/">Login</a></li>
         <% } %>
      </ul>
   </nav>
   <h1><%= title %></h1>
   <p>Welcome to <%= title %></p>
</body>
<!-- <script src="/views/managerFunctions.js"> </script> -->
</html>
