<!DOCTYPE html>
<html lang="en-US">
<head>
   <!-- <link rel="stylesheet" type="text/css" href="/views/manager.css" id="manager_style"></link> -->
   <title>Login</title>
</head>
<body>
   <p>test</p>
</body>
<!-- <script src="/views/managerFunctions.js"> </script> -->
</html>