body {
    background-color: lightgray;
}

.tab {
    overflow: hidden;
    text-align: center;
}

.tab button {
    color: maroon;
    font-size: 2vh;
    background-color: white;
    width: 19.5vw;
    height: 8vh;
    border-color: maroon;
    cursor: pointer;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    color: white;
    background-color: maroon;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.subbutton {
    color: white;
    font-size: 2vh;
    background-color: maroon;
    width: 19.5vw;
    height: 8vh;
    border-color: maroon;
    cursor: pointer;
    transition: 0.3s;
}

.subbutton:hover {
    background-color: rgb(75, 0, 0);
}

.textField {
    font-size: 2vh;
    width: 19.5vw;
    height: 8vh;
    border-color: maroon;
    text-align: center;
}

.toDoList {
    width: 10vw;
    height: 70vh;
    resize: none;
    float: left;
}
.toDoListDiv {
    float:left;
    padding-right:2vw;
}

.notifications {

}

h4 {
    text-align: center;
}