<!DOCTYPE html>

<head>
   <link rel="stylesheet" type="text/css" href="/views/manager.css" id="manager_style"></link>
   <title>Manager GUI</title>
</head>
<body>
   <!-- Tab links -->
   <div class="tab">
      <button class="tablinks" onclick="openTab(event, 'Home')", id="homePage">Home</button>
      <button class="tablinks" onclick="openTab(event, 'Inventory')">Inventory</button>
      <button class="tablinks" onclick="openTab(event, 'Finance')">Finance</button>
      <button class="tablinks" onclick="openTab(event, 'Transactions')">Transactions</button>
      <button class="tablinks" onclick="openTab(event, 'Menu Items')">Menu Items</button>
   </div>

   <!-- Tab content -->
   <div>
      <div class="toDoListDiv">
         <img src="https://www.washingtonpost.com/graphics/2018/sports/colleges/basketball/march-madness-dancing-mascots/img/small-texasAM.gif" style="width:auto;height:20vh;">
         <h4>TO-DO LIST</h4> 
         <textarea class="toDoList"></textarea>
      </div>
   </div>

   <div id="Home" class="tabcontent">
      <h1>Home Page</h1>
   </div>
   
   <div id="Inventory" class="tabcontent">
      <button class="subbutton" onclick="addNewItem(event)">ADD NEW ITEM</button>
      <div>
         <input readonly value="ID" class="textField">
         <input class="textField">
      </div>
      
      <div>
         <input readonly value="Name" class="textField">
         <input class="textField">
      </div>

      <div>
         <input readonly value="Amount" class="textField">
         <input class="textField">
      </div>
      <button class="subbutton" onclick="removeItem(event)">REMOVE ITEM</button>
      <button class="subbutton" onclick="updateItem(event)">UPDATE ITEM</button>
   </div>
   
   <div id="Finance" class="tabcontent">
      <h1>Finance Page</h1>
   </div>
   
   <div id="Transactions" class="tabcontent">
      <h1>Transactions Page</h1>
   </div>
   
   <div id="Menu Items" class="tabcontent">
      <h1>Menu Items Page</h1>
   </div>
</body>
<script src="/views/functions.js"> </script>