<!DOCTYPE html>


<head>
   <link rel="stylesheet" type="text/css" href="/views/server.css" id="server_style"></link>
   <title>Manager Home Page</title>
</head>
<body>
   <h1>Manager GUI</h1>

   <!-- Creates category buttons -->
   <% for (var i = 0; i < managerData.categories.length; i++) {%>
      <!-- Creates buttons 120px below the last -->
      <button class = "button categorybutton <%= i %>" onclick = "enableMenuButtons(<%= i %>)" style = "top : <%=60 + 120*i%>px;">
         <%= managerData.categories[i] %>
      </button>
   <% } %>


   <!-- Rectangle to hold order -->
   <div style="width:300px;height:650px;border:1px solid #000;left: 1000px; position: absolute;" ></div>

   
      
</body>
<script src="/views/functions.js"> </script>