body {
    background-color: lightgray;
}

.tab {
    overflow: hidden;
    text-align: center;
}

.tab button {
    color: maroon;
    font-size: 1em;
    background-color: white;
    width: 16%;
    height: 4em;
    border-color: maroon;
    cursor: pointer;
    transition: 0.3s;
}

.tab button:hover {
    background-color: lightgray;
}

.tab button.active {
    color: white;
    background-color: maroon;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.reports {
    overflow: hidden;
}

.reports button {
    color: maroon;
    font-size: 1em;
    background-color: white;
    width: 23%;
    height: 4em;
    border-color: maroon;
    cursor: pointer;
    transition: 0.3s;
}

.reports button:hover {
    background-color: lightgray;
}

.reports button.active {
    color: white;
    background-color: maroon;
}

.reportContent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.subbutton {
    color: white;
    font-size: 1em;
    background-color: maroon;
    width: 47.5%;
    height: 4em;
    border-color: maroon;
    cursor: pointer;
    transition: 0.2s;
}

.subbutton:hover {
    background-color: rgb(75, 0, 0);
}

.subbutton:active {
    background-color: black;
    transition: 0s;
}

.scrollArea {
    border: 1px solid maroon;
    width: 44%;
    height: 40.7em;
    overflow-y: scroll;
}

.attributeName {
    font-size: 1em;
    width: 46%;
    height: 2.75em;
    margin-top: 0.5em;
    border-color: maroon;
    text-align: center;
    background-color: rgb(238, 238, 238);
}

.invTextField {
    font-size: 1em;
    width: 46%;
    height: 2.75em;
    margin-top: 0.5em;
    border-color: maroon;
    text-align: center;
}

.menuTextField {
    font-size: 1em;
    width: 46%;
    height: 2.75em;
    margin-top: 0.5em;
    border-color: maroon;
    text-align: center;
}

.toDoList {
    width: 100%;
    height: 36.3em;
    resize: none;
    float: left;
    font-size: 1em;
    border-color: maroon;
    border-width: 2px;
}
.toDoListDiv {
    text-align: center;
    float: left;
    padding: 2vh 2vw;
    width:10%;
}

.notifications {
    width: 86%;
    height: 42.8em;
    resize: none;
    text-align: center;
    /* font-size: inherit; */
    border-color: maroon;
    border-width: 2px;
    background-color: white;
    float: right;
    margin-right: 0.5%;
    overflow-y: scroll;
}

.notificationColumnNames {
    width: 16.81%;
    font-size: 1em;
    height: 2em;
    text-align: center;
    border-width: 1px;
    border-color: maroon;
    pointer-events: none;
    background-color: darkgray;
}

.notificationItem {
    font-size: 1em;
    width: 19.8%;
    height: 2em;
    vertical-align: middle;
}

.invAndMenuFieldGroup {
    float: right;
    width: 40%;
}

.itemButton {
    font-size: 1em;
    width: 100%;
    height: 2em;
}

.transactionsBox {
    border: 1px solid maroon;
    width: 100%;
    height: 41em;
    overflow-y: scroll;
}

.transactionsName {
    font-size: 1em;
    width: 99%;
    height: 3em;
    margin-bottom: 0.5em;
    border-color: maroon;
    text-align: center;
    background-color: rgb(238, 238, 238);
}

.dateTimeBox {
    font-size: 0.9em;
    width: 14%;
    height: 3.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border-color: maroon;
    text-align: center;
    background-color: rgb(238, 238, 238);
    resize: none;
    vertical-align: middle;
    display:inline-block;
}

.dateTimeEntryBox {
    font-size: 1em;
    width: 14%;
    height: 2.8em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border-color: maroon;
    text-align: center;
    vertical-align: middle;
}

.reportBox {
    font-size: 1em;
    height: 30em;
    border-width: 1px;
    border-color: maroon;
    text-align: center;
    resize: none;
    overflow-y: scroll;
    background-color: white;
}

.reportColumnNames {
    width: 32.53%;
    font-size: 1em;
    height: 2em;
    text-align: center;
    border-width: 1px;
    border-color: maroon;
    pointer-events: none;
    background-color: darkgray;
}

.reportColumnNamesDiv {
    width: 81.5%;
    display: inline-block;
}

.enterButton {
    color: white;
    font-size: 1em;
    background-color: maroon;
    border-color: maroon;
    cursor: pointer;
    transition: 0.2s;

    height: 7.4em;
    width: 50%;
    float:right;
    margin-right:5.5%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}